<%- include("./inc/header.ejs") %>
    <div class="f-wrapper">
        <div class="box f-loginPanel is-centered">
            <img src="/assets/img/flip_logoDark.png" alt="flip" class="f-logo">
            <h1 class="title is-3" style="margin-bottom: 5px;">Account Settings</h1>
            <div class="is-divider"></div>
            <div class="f-details">
                <h2 class="title is-4">Account Details</h2>
                <ul>
                    <li>Username: <%= user.info.username %></li>
                    <li>Email: <%= user.security.email %></li>
                </ul>
            </div>
            <div class="is-divider"></div>
            <div class="f-username">
                <h2 class="title is-4">Username</h2>
                <p style="margin-bottom: 15px;">You can only change the capitalization of your username.</p>
                <div class="field">
                    <div class="control" style="margin-bottom: 15px;">
                        <input type="text" value="<%= user.info.username %>" class="input f-username" placeholder="Update Username Capitalization" />
                    </div>
                    <div class="control">
                        <button class="button f-emailButton f-fullsizeButton is-primary" onclick="f.change.username();">Change Username Capitalization</button>
                        <p class="help f-help f-emailHelp is-danger">An error occured.</p>
                    </div>
                </div>
            </div>
            <div class="is-divider"></div>
            <div class="f-email">
                <h2 class="title is-4">Email</h2>
                <div class="field">
                    <div class="control" style="margin-bottom: 15px;">
                        <input type="email" class="input f-email" placeholder="New Email Address" />
                    </div>
                    <div class="control">
                        <button class="button f-emailButton f-fullsizeButton is-primary" onclick="f.change.email();">Change Email Address</button>
                        <p class="help f-help f-emailHelp is-danger">An error occured.</p>
                    </div>
                </div>
            </div>
            <div class="is-divider"></div>
            <div class="f-password">
                <h2 class="title is-4">Password</h2>
                <div class="field">
                    <div class="control" style="margin-bottom: 10px;">
                        <input type="text" class="input" placeholder="Old Password" />
                    </div>
                    <div class="control" style="margin-bottom: 15px;">
                        <input type="password" class="input f-password" placeholder="New Password" />
                    </div>
                    <div class="control" style="margin-bottom: 15px;">
                        <input type="password" class="input f-password" placeholder="Confirm New Password" />
                    </div>
                    <div class="control">
                        <button class="button f-loginButton is-primary" onclick="f.login();">Change Password</button>
                        <p class="help f-help f-passwordHelp is-danger">This password is invalid.</p>
                    </div>
                </div>
            </div>
            <div class="is-divider"></div>
            <button class="button f-fullsizeButton is-danger" onclick="f.logout();">Delete Account</button>

            <div class="is-divider"></div>
            <button class="button f-fullsizeButton is-primary" onclick="f.logout();">Logout</button>
            <div class="is-divider"></div>
            <p class="f-loginTooltip">Something wrong? <a href="mailto:support@flip.wtf" target="_blank">Contact support</a>.</p>
            <p><br></p>
        </div>
    </div>
<%- include("./inc/footer.ejs") %>